includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 5

    checkMissingIterableValueType: false

    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
            path: src/MagicLink.php
