name: static analysis

on:
  push:
      paths:
          - '**.php'
          - 'phpstan.neon.dist'
          - '.github/workflows/phpstan.yml'

  pull_request:
      paths:
          - '**.php'
          - 'phpstan.neon.dist'
          - '.github/workflows/phpstan.yml'

jobs:
  phpstan:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.3

    - name: Install composer dependencies
      uses: ramsey/composer-install@v3

    - name: Install larastan
      run: |
        composer require "larastan/larastan" --no-interaction --no-update
        composer update --prefer-dist --no-interaction

    - name: Run analyse phpstan
      run: vendor/bin/phpstan analyse --error-format github